.Container-Main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(205, 206, 225);
}

.Sobre-Habits{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(5, 0, 46);
    background: linear-gradient(90deg, rgb(5, 0, 46) 0%, rgb(5, 0, 46) 30%, rgba(7, 40, 176, 0.512) 100%);
}

.Conteiner-Sobre{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.h1-SaibaMais{
    font-size: 2.5rem;
    color: rgb(124, 149, 249);
    /* color: rgba(0,207,255,1); */
    margin-bottom: 1rem;
    text-align: left;
}

.h1-span-SaibaMais{
    font-family: 'Cookie', cursive;
    font-weight: 100;
    font-size: 3rem;
    color: white;
}

.Logo-Habits-Img{
    width: 20rem;
}

.Descricao-Habits{
    text-align: left;
    font-weight: 400;
    color: white;
}

.Explicacao-SaibaMais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4rem 0;
}

.Porque-Usar, .Ferramentas{
    width: 40%;
    margin: 3rem 0 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Porque-Usar{
    padding-right: 3rem;
    border-right: .1rem solid rgb(5, 0, 46);
}

.Porque-Usar-p{
    text-align: center;
}

.Porque-Usar-h2, .Ferramentas-h2{
    font-weight: 700;
    color: rgb(5, 0, 46);
    margin-bottom: 1rem;
}

.Ferramentas-listas{
    display: flex;
}

.Ferramentas-listas>div{
    margin: 0 2rem 0 0;
    display: flex;
    flex-direction: column;
}

.Ferramentas-listas>div>ul{
    margin: 0 0 0 1rem;
}

.Link-Unifei, .Link-Imc{
    text-decoration: none;
    color: rgb(56, 40, 179);
}


.h2-Devs{
    font-size: 2.5rem;
    color: rgb(5, 0, 46);
    text-align: center;
}

.Descricao-Geral{
    text-align: justify;
    font-weight: 400;
    margin: 1.5rem 2rem;
}

.Devs-Habits{
    width: 100%;
}

.Devs-Descricao{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 0 3rem;
}

.Dev-Ana, .Dev-Daniel, .Dev-Huandy, .Dev-Leticia{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;
    background: rgb(5, 0, 46);
    background: linear-gradient(45deg, rgb(5, 0, 46, 0.9) 27%, rgba(7, 40, 176, 0.512) 100%);
    border-radius: .8rem;
    border: none;
    box-shadow: 0 0 20px rgb(5, 0, 46, 0.6);
}

.Devs-Nome{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin: .5rem 0;
}

.Devs-funcao{
    display: flex;
    align-items: center;
    color: rgba(252, 252, 252, 0.57);
    text-align: center;
    font-size: .9rem;
    margin: 0 1rem 1rem;
    height: 6rem;
}

.Devs-Foto{
    width: 16rem;
    border-radius: .8rem .8rem 0 0;
    border: none;
}

.Devs-graduacao{
    font-weight: 400;
    margin-bottom: .7rem;
    text-align: center;
    color: white;
}

.Devs-redes{
    display: flex;
}

.Devs-GitHub, .Devs-Linkedin{
    margin: 0 .5rem .8rem;
    text-decoration: none;
    font-weight: 500;
    color: white;
}
