@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.LandingPage{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    background: rgb(0,4,54);
    background: linear-gradient(90deg,rgba(0,4,54,1)  0%, rgba(0,8,121,1) 50%, rgba(0,207,255,1) 100%);
}

.LandingPage-Conteudo{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.LandingPage-div-saibamais{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 3rem 3rem 1rem;
}

.LandingPage-link-saibamais {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    margin: 0 2rem 0 0;
}

.LandingPage-link-login{
    border-radius: 5rem;
    border: 1px solid white;
    background-color: rgba(255, 0, 166, 0.788);
    padding: .5rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

.LandingPage-Main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 6rem;
}

.LandingPage-Informacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.LandingPage-h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 8px rgb(219, 10, 146);
}

.LandingPage-p{
    margin: 1rem 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
}

.LandingPage-link-cadastro{
    border-radius: 5rem;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.266);
    padding: 1rem 2.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    margin: 0 auto;
}

.LandingPage-img{
    width: 20rem;
    margin: 0 0  0 5rem;
}

.LandingPage-link-saibamais:hover{
    color: rgba(255, 255, 255, 0.614);
}

.LandingPage-link-login:hover{
    background-color: rgba(255, 0, 221, 0.701);
}

.LandingPage-link-cadastro:hover{
    background-color: rgba(191, 170, 254, 0.625);
}

