body{
    background-image: radial-gradient(circle, #bb129cb8, #0e0e81b6);
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.Conteiner-Login{
    background-color: rgba(240, 220, 245, 0.519);
    width: 30rem;
    height: 18rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.488);
}

.h2-Login{
    font-size: 3rem;
    padding: 1rem;
    margin: 0;
    color: rgb(42, 0, 77);
}

.Conteiner-Inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
}

.Conteiner-Inputs > input{
    width: 20rem;
    height: 2rem;
    margin: 0 0 1rem 0;
    border-radius: .5rem;
    border: 0;
    padding-left: .5rem;
}

.Conteiner-Buttons > button{
    margin: 0 0.5rem;
    height: 2.5rem;
    color: beige;
    text-align: center;
    line-height: .5rem;
    background-color: rgb(42, 0, 77);
    
}